body {
  background-color: grey;
}

#form {
  margin-top: 100px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 4px;
}

.wrapper {
  text-align: center;
}

img {
  margin-top: 10px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .display {
    width: 390px;
    /* display: flex;
    flex-wrap: wrap; */
  }
}

h2 {
  font-size: 12px;
  color: white;
}

#search,
#form button,
button {
  background-color: black;
  color: white;
  margin-left: 1px;
}

.cocktail-card {
  border-radius: 10px;
  background-color: black;
}

.modal-picture {
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
