nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(123, 219, 94);
  margin-left: 10px;
}

.material-symbols-outlined {
  color: rgb(123, 219, 94);
}
